<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="20.1.0" targetFramework="net481" />
  <package id="ClosedXML" version="0.105.0" targetFramework="net481" />
  <package id="ClosedXML.Parser" version="2.0.0" targetFramework="net481" />
  <package id="ClosedXML.Report" version="0.2.11" targetFramework="net481" />
  <package id="ClosedXML_Excel" version="1.0.0" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml" version="3.3.0" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.3.0" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net481" />
  <package id="Irony.NetCore" version="1.0.11" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net481" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1652.0" targetFramework="net481" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net481" />
  <package id="morelinq" version="4.4.0" targetFramework="net481" />
  <package id="RBush.Signed" version="4.0.0" targetFramework="net481" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net481" />
  <package id="System.Linq.Dynamic.Core" version="1.6.0.2" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net481" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net481" />
  <package id="XLParser" version="1.5.2" targetFramework="net481" />
</packages>